cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
google-api-core==1.16.0
google-auth==1.11.2
google-cloud-vision==0.42.0
googleapis-common-protos==1.51.0
grpcio==1.27.2
idna==2.9
pkg-resources==0.0.0
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pytz==2019.3
requests==2.23.0
rsa==4.0
six==1.14.0
urllib3==1.25.8
Keras==2.2.4
pytest==4.3.1
numpy==1.16.4
Flask_Cors==3.0.8
Flask==1.1.1
flask_swagger_ui==3.20.9
tensorflow==1.14.0
pandas==0.24.2
gunicorn

