absl-py==2.1.0
astunparse==1.6.3
autocommand==2.2.2
backports.csv==1.0.7
beautifulsoup4==4.12.3
blinker==1.8.2
boto3==1.34.113
botocore==1.34.113
bs4==0.0.2
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cheroot==10.0.1
CherryPy==18.9.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cryptography==42.0.7
cssselect==1.2.0
cycler==0.12.1
distlib==0.3.8
dm-tree==0.1.8
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.13.4
Flask==3.0.0
Flask-Cors==3.0.8
flask-swagger-ui==3.20.9
flatbuffers==24.3.25
fonttools==4.52.1
future==1.0.0
gast==0.5.4
gensim==3.8.0
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-vision==3.7.2
google-pasta==0.2.0
googleapis-common-protos==1.63.0
grpcio==1.63.0
grpcio-status==1.62.2
h5py==3.11.0
idna==3.7
inflect==7.2.1
itsdangerous==2.2.0
jaraco.collections==5.0.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.0
jieba3k==0.35.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
keras==3.3.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==18.1.1
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdurl==0.1.2
ml-dtypes==0.3.2
more-itertools==10.2.0
mysqlclient==2.2.4
namex==0.0.8
newspaper3k==0.2.8
nltk==3.8.1
numpy==1.26.4
opt-einsum==3.3.0
optree==0.11.0
packaging==24.0
pandas==2.2.2
Pattern==3.6
pdfminer.six==20231228
pillow==10.3.0
platformdirs==4.2.0
portend==3.2.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.31.0
requests-file==2.1.0
rich==13.7.1
rsa==4.9
s3transfer==0.10.1
scipy==1.13.1
setuptools==69.5.1
sgmllib3k==1.0.0
six==1.16.0
smart-open==7.0.4
soupsieve==2.5
tempora==5.5.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
termcolor==2.4.0
tinysegmenter==0.3
tldextract==5.1.2
tqdm==4.66.4
typeguard==4.3.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.25.3
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
zc.lockfile==3.0.post1
